{{>header}}
<h2>Cadastro</h2>
<form id="questionform" action="/signin/adicionarStudent" method="post">
    <div class="form-group">
        <label for="email">E-mail:</label>
        <input name="email" type="email" class="form-control" id="email" maxlength="50" required>
    </div>
    <div class="form-group">
        <label for="firstName">Primeiro Nome:</label>
        <input name="firstName" type="text" class="form-control" id="firstName" maxlength="50" required>
    </div>
    <div class="form-group">
        <label for="lastName">Último nome:</label>
        <input name="lastName" type="text" class="form-control" id="lastName" maxlength="50" required>
    </div>
    <div class="form-group">
        <label for="password">Senha:</label>
        <input name="password" type="password" class="form-control" id="password" maxlength="50" required>
    </div>
    <div class="form-group">
        <label for="username">Nome de usuário:</label>
        <input name="username" type="text" class="form-control" id="username" maxlength="50" required>
    </div>
    <input class="btn btn-primary" type="submit" value="Cadastrar">
</form>
{{>footer}}