{{>header}}
<table class="table">
    <thead>
    <tr>
        <th>Email</th>
        <th>Primeiro nome</th>
        <th>Último nome</th>
    </tr>
    </thead>
    {{#student}}
    <tbody>
    <tr>
        <td>{{email}}</td>
        <td>{{firstName}}</td>
        <td>{{lastName}}</td>
        <td><a href="/student/tela_editar/{{id}}" class="btn btn-primary">Editar dados cadastrais</a></td>
    </tr>
    </tbody>
    {{/student}}
</table>

<div class="row">
    <div id="solved" class="col-sm" style="background-color: gainsboro;">
        <H1 id="solvedCount" >{{rightQuestions}}</H1>
        <p>Número de exercícios corretos</p>
    </div>
    <div id="solved" class="col-sm" style="background-color: gainsboro;">
        <H1 id="solvedCount" >{{wrongQuestions}}</H1>
        <p>Número de exercícios errados</p>
    </div>
    <div id="solved" class="col-sm" style="background-color: gainsboro;">
        <H1 id="solvedCount" >{{attemptedQuestions}}</H1>
        <p>Número de exercícios tentados (acertos e erros)</p>
    </div>


</div>
<br>

<div id="canvasDiv">
    
</div>
<input type="button" id="button2" class="btn" onclick="showChart()" value="Mostrar/Esconder gráfico">



<input type="button" id="button1" class="btn btn-primary" onclick="createChart(
eval('{{rightQuestions}}'), eval('{{wrongQuestions}}'));
createBarChart(eval('{{rightQuestions}}'), eval('{{wrongQuestions}}'), eval('{{attemptedQuestions}}'));
createPieChart(eval('{{attemptedQuestions}}'), eval('{{yvalues}}'))" value="Gerar gráfico">

<script type="text/javascript" src="../../js/charts_student.js"></script> 



<a href="/student/index" class="btn btn-primary">Retornar</a>
{{>footer}}