<html>
    <head>
        <title>::Student::</title>
    </head>
    <body>
        <form action="/student/adicionar" method="post">
            E-mail: <input type="email" name="email" placeholder="email@email.com"> <br>
            Primeiro nome: <input type="text" name="firstName"> <br>
            Ultimo nome: <input type="text" name="lastName"> <br>
            Senha: <input type="text" mame = 'password'> <br>
            Nome de usuário: <input type="text" name = 'username'>
            <input type="submit">
        </form>
    </body>
</html>