{{>header}}
<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Teste</th>
        <th>Id questão</th>
    </tr>
    </thead>
    {{#test}}
    <tbody>
    <tr>
        <td>{{id}}</td>
        <td>{{teste}}</td>
        <td>{{question_id}}</td>
        <td><a href="/test/tela_editar/{{id}}">Editar</a></td>
        <td><a href="/test/deletar/{{id}}">Excluir</a></td>
    </tr>
    </tbody>
    {{/test}}
</table>
<a href="/test/index" class="btn btn-primary">Retornar</a>
{{>footer}}