{{>header}}
<table class="table">
    <thead>
    <tr>
        <th>Título</th>
        <th>Descrição</th>
        <th colspan="2">Operações</th>
    </tr>
    </thead>
    {{#question}}
    <tbody>
    <tr>
        <td>{{title}}</td>
        <td>{{description}}</td>
        {{#hasAccess}}
        <td><a href="/question/tela_editar/{{id}}" class="btn btn-primary">Editar</a></td>
        <td><a href="/question/deletar/{{id}}" class="btn btn-primary">Excluir</a></td>
        {{/hasAccess}}

        {{#isStudent}}
        <td><a href="/question/tela_responder/{{id}}" class="btn btn-primary">Resolver questão</a></td>
        {{/isStudent}}
    </tr>
    </tbody>
    {{/question}}
</table>
<a href="/questionlist/index" class="btn btn-primary">Retornar</a>
{{>footer}}