{{>header}}
{{#message}}
<div class="alert alert-success" role="alert">
    {{message}}
</div>
{{/message}}

{{#resposta}}
    <div class="container">
        <p class="text-break">
            Seu select foi: {{resposta}}
        </p>
    </div>
{{/resposta}}

{{#corrigida}}
    <div class="container">
        <p class="text-break">
            {{corrigida}}
        </p>
    </div>
{{/corrigida}}

<a href="/questionlist/mostrar_lista/{{questionlistid}}" class="btn btn-primary">Retornar para lista</a>
{{>footer}}