{{>header}}
{{#question}}
    <form id="questionform" action="/question/responder" method="post">
        <input type="hidden" name="id" value="{{question.id}}"><br>
        {{#questionlist}}
        <input type="hidden" name="questionlistid" value="{{questionlist.id}}">
        <input type="hidden" name="databaseName" value="{{questionlist.databaseName}}">
        {{/questionlist}}

        <h3 class="text-break">
            Descrição da questão:
            {{description}}
        </h3>
        
        <br>

        <div class="form-group mb-3">
                <label for="description">Escreva a sua resposta</label>
                <textarea id="resposta" name="resposta" class="form-control" form="questionform" style="height: 200px; width: 500px; resize: none;"></textarea>
            </div>
        </div>
        <input class="btn btn-primary" type="submit" value="Responder">
    </form>
    {{/question}}
{{>footer}}