<html>
    <head>
        <title>::Question::</title>
    </head>
    <body>
        {{#question}}
        <form id="questionform" action="/question/adicionar" method="post">
            Título: <input name="title" type="text" maxlength="50">
            Descrição: <textarea name="description" form="questionform"></textarea><br>
            Gabarito: <textarea name="answerSheet" form="questionform"></textarea><br>
            <input type="submit">
    </form>
        {{/question}}
    </body>
</html>