{{>header}}
{{#question}}
    <form id="questionform" action="/question/responder" method="post">
        <input type="hidden" name="id" value="{{question.id}}"><br>
            <div class="col form-group mb-3">
                <label for="description">Escreva a sua resposta</label>
                <textarea id="resposta" name="resposta" class="form-control" form="questionform" style="height: 100px; resize: none;"></textarea>
            </div>
        </div>
        <input class="btn btn-primary" type="submit" value="Responder">
    </form>
    {{/question}}
{{>footer}}