{{>header}}
<table class="table">
    <thead>
    <tr>
        <th>E-mail</th>
        <th>Primeiro nome</th>
        <th>Último nome</th>
    </tr>
    </thead>
    {{#teacher}}
    <tbody>
    <tr>
        <td>{{email}}</td>
        <td>{{firstName}}</td>
        <td>{{lastName}}</td>
        <td><a href="/teacher/tela_editar/{{id}}" class="btn btn-primary">Editar dados cadastrais</a></td>
    </tr>
    </tbody>
    {{/teacher}}
</table>

<canvas id="myChart" style="width:100%;max-width:600px"></canvas>

<script>
    const xValues = [5,8,1,2,4,7,5,13,11,12,17];
    const yValues = [7,8,8,9,9,9,10,11,14,14,15];
    
    new Chart("myChart", {
      type: "line",
      data: {
        labels: xValues,
        datasets: [{
          fill: false,
          lineTension: 0,
          backgroundColor: "rgba(0,0,255,1.0)",
          borderColor: "rgba(0,0,255,0.1)",
          data: yValues
        }]
      },
      options: {
        legend: {display: false},
        scales: {
          yAxes: [{ticks: {min: 6, max:16}}],
        }
      }
    });
    </script>


<a href="/teacher/index" class="btn btn-primary">Retornar</a>
{{>footer}}