<html>
    <head>
        <title>::Teacher::</title>
    </head>
    <body>
        {{#teacher}}
        <form action="/teacher/editar" method="post" onsubmit="">
            <input type="hidden" name="id"><br>
            E-mail: <input type="email" name="email"> <br>
            Primeiro nome: <input type="text" name="firstName"> <br>
            Ultimo nome: <input type="text" name="lastName"> <br>
            Senha: <input type="text" name = 'password'> <br>
            Nome de usuário: <input type="text" name="username">
            <input type="submit">
    </form>
        {{/teacher}}
    </body>
</html>