{{>header}}
<H1>Login</H1>
    {{#error}}
    <p style="color:red">{{error}}</p>
    {{/error}}
    <div class="d-flex justify-content-center">
    <form action="/logar" method="post">
        <div class="row g-2">
            <div class="row form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" class="form-control" required> <br> 
            </div>
            <div class="row form-group">
                <label for="password">Senha:</label>
                <input type="password" id="password" name="password" class="form-control" required> <br>
            </div>

        </div>
        <input type="submit" class="btn btn-primary" value="Entrar">
    </form>
</div>
{{>footer}}