{{>header}}
<h2>Listas de Exercícios</h2>
<table class="table">
    <thead>
        <tr>
            <th>Título</th>
            <th colspan="3">Operações</th>
        </tr>
    </thead>
    {{#arrQuestionList}}
        <tbody>
            <tr>
                <td>{{title}}</td>
                <td><a href="/questionlist/mostrar_lista/{{id}}" class="btn btn-primary">Detalhes</a></td>          
            </tr>
        </tbody>
    {{/arrQuestionList}}
</table>
<a href="/home/index" class="btn btn-primary">Retornar</a>
{{#hasAccess}}
<a href="/questionlist/tela_adicionar" class="btn btn-primary">Criar Lista</a> 
{{/hasAccess}}


{{>footer}}