{{>header}}
<h2>Listas de Exercícios</h2>
<table class="table">
    {{#arrQuestionList}}
    <tbody>
        <tr>
            <td>{{title}}</td>
            <td><a href="/questionlist/mostrar_lista/{{id}}" class="btn btn-primary">Detalhes</a></td>
            <td><a href="/questionlist/tela_editar/{{id}}" class="btn btn-primary">Editar</a></td>
            <td><a href="/questionlist/deletar/{{id}}" class="btn btn-primary">Excluir</a></td>
        </tr>
    </tbody>
    {{/arrQuestionList}}
</table>
<a href="/questionlist/tela_adicionar" class="btn btn-primary">Adicionar</a>
{{>footer}}