{{>header}}
{{#questionlist}}
<input type="hidden" value="{{id}}">
    <h1>Lista:{{title}}</h1>
    <!-- PROFESSOR TEVE O NOME ALTERADO PARA OWNER EM QUESTIONLIST -->
    <h3>Professor:{{owner.firstName}}
    <h3>sql {{databaseScript}}</h3>
    <h4>Questões:</h4>
<table class="table">
    {{#questions}}
        <tr>
            <td>{{title}}</td>
            <td><a href="/question/mostrar_questao/{{id}}">Mostrar questão</a></td>
        </tr>
    {{/questions}}
</table>
<br>
<a href="/question/tela_adicionar/{{questionlist.id}}" class="btn btn-primary">Adicionar questão</a>
{{/questionlist}}
<a href="/questionlist/index" class="btn btn-primary">Retornar</a>
{{>footer}}