{{>header}}
<h2>Editar: Lista de Exercício</h2>

<form id="questionlistform" action="/questionlist/editar" method="post">
    <input type="hidden" name="id" value="{{id}}"><br>

    <div class="form-group">
        <label for="title">Título:</label>
        <input name="title" type="text" class="form-control" id="title" maxlength="50" value="{{title}}">
    </div>

    <div class="form-group mb-3">
        <label for="database_script" class="form-label">Database Script:</label> <br>
        <textarea class="form-control" name="database_script" style="height: 100px; width: auto; resize: none;" required>{{database_script}}</textarea>
    </div>

    <div class="form-group mb-3">
        <label for="description" class="form-label">Descrição da lista:</label> <br>
        <textarea class="form-control" name="description" style="height: 100px; width: auto; resize: none;" required>{{description}}</textarea>
    </div>

    <div class="form-group">
        <label for="isPrivate">Privado?</label>
        <input name="isPrivate" type="checkbox" class="form-control" id="isPrivate" value="{{isPrivate}}">
    </div>
    
    <input class="btn btn-primary" type="submit" value="Editar">
    {{>footer}}