{{>header}}
<h2>Adicionar: Lista de Exercício</h2>

<form id="questionlistform" action="/questionlist/adicionar" method="post">
    <div class="form-group">
        <label for="title">Título:</label>
        <input name="title" type="text" class="form-control" id="title" maxlength="50">
    </div>
    <div class="form-group">
        <label>Questões:</label> <br>
        <select style="width: 100px;" name="question_id" multiple required>
            {{#arrQuestion}}
            <option value="{{id}}">{{title}}</option>
            {{/arrQuestion}}
        </select>
    </div>
    <div class="form-group">
        <label>Professor:</label> <br>
        <select name="teacher_id" required>
            {{#arrTeacher}}
            <option value="{{id}}">{{firstName}}</option>
            {{/arrTeacher}}
        </select>
    </div>
    Privada:     
    <input type="radio" name="isPrivate" value="true">Sim
    <input type="radio" name="isPrivate" value="false">Não
    
    <input class="btn btn-primary" type="submit" value="Adicionar">
</form>

{{>footer}}