{{>header}}
<h2>Editar: Lista de Exercício</h2>

<form id="questionlistform" action="/questionlist/editar" method="post">
    <input type="hidden" name="id" value="{{id}}"><br>

    <div class="form-group">
        <label for="title">Título:</label>
        <input name="title" type="text" class="form-control" id="title" maxlength="50" value="{{title}}">
    </div>
    <div class="form-group">
        <label for="description">database script</label>
        <textarea name="database_script">{{database_script}}</textarea>
    </div>
    <div class="form-group">
        <select style="width: 100px;" name="question_id" multiple required>
            {{#arrQuestion}}
                {{#enabled}}
                    <option value="{{id}}" selected>{{title}}</option>
                {{/enabled}}
                {{^enabled}}
                    <option value="{{id}}">{{title}}</option>
                {{/enabled}}
            {{/arrQuestion}}
        </select>
    </div>
    <div class="form-group">
        Professor:
        <select name="teacher_id" required>
            {{#vetProfessor}}
                {{#isOwner}}
                    <option value="{{id}}" selected>{{firstName}}</option>
                {{/isOwner}}
                {{^isOwner}}
                    <option value="{{id}}">{{firstName}}</option>
                {{/isOwner}}
            {{/vetProfessor}}
        </select>
    </div>
    Privada:
    {{#isPrivate}}
        <input type="radio" name="isPrivate" value="true" checked>Sim
        <input type="radio" name="isPrivate" value="false">Não
    {{/isPrivate}}
    {{^isPrivate}}
        <input type="radio" name="isPrivate" value="false" checked>Não
        <input type="radio" name="isPrivate" value="true">Sim
    {{/isPrivate}}

    <input class="btn btn-primary" type="submit" value="Editar">

    {{>footer}}